{% extends 'main/base.html' %}

{% block content %}

    {% include 'main/nav.html' %}

    <div class="container">
        <!-- <h1 class="center-align">Home Page</h1> -->
        <br><br>
        <div class="row">

            <div class="col s12 m4">
                <div class="card green lighten-1">
                    <div class="card-content white-text">
                      <span style="font-weight: 200;  " class="card-title">{{name}}</span>
                      <img class="materialboxed responsive-img" src="static/images/0.jpg">
                      <p>

                      </p>
                      <div class="card-action">
                        <a style="color: black;" href="https://github.com/Aakashmangla2000">Github</a>
                        <a style="color: black;" href="https://www.linkedin.com/in/aakash-mangla-067685170/">LinkedIn</a>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m8">
                <div class="card green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title">About Me</span>
                      <p>
                        {{about_me}}
                      </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <div class="card green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title">Contact Me</span>
                      <p>
                        Email: aakashmangla15@gmail.com <br>
                        Phone Number: +919654595941 <br>
                        Address: New Delhi
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
        <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.materialboxed');
                    var instances = M.Materialbox.init(elems);
                });
        </script>
    {% endblock %}

