{% extends 'main/base.html' %}

{% block content %}

{% include 'main/nav.html' %}

<div class="container">
    <h1 class="center-align">Projects</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                  <span class="card-title">My Recent Projects</span>
                  <p>
                    I have worked on these projects through 2018-20
                  </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">time_to_leave</i>Tre-Way</div>
                  <div class="collapsible-body"><span>Tre-way is a web app made by using modern technologies like React.js, Node.js, Google firebase e.t.c Through Tre-way we are going to handle 3 main problems faced in modern cities these days - 1. Pollution, 2. Traffic, 3. Parking. Travelling is part of the daily life of almost everyone these days and they don't think about how even their travelling is causing environmental pollution.</span>
                    <br><br>
                    <a href="https://github.com/ishwantsingh/Green-Print">Check out this project</a>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">local_dining</i>NutriCheck</div>
                  <div class="collapsible-body"><span>Our website will provide you an interesting and a unique way to find and surf through a collection of healthy recipes that fit you the best.
                    Let’s be specific in the food requirements and ask freely to our food analyser which will give you a vast variety of nutrients to select from.
                    The website will then analyse your marked options or choices (like proteins, carbohydrates etc.) and will provide you with a list of easy to make recipes inculcating all your choices and at the same time provide you with nutritional information about them.
                    There are millions of internet site that will provide you with a vast set of healthy recipes to choose from but with us you can get nutritionist verified dishes that are filtered according to your preferences and demands.
                    Providing freedom to our customers to be their own nutritionists is what we aim for. Let’s be aware about what we eat!</span>
                    <br><br>
                    <a href="https://github.com/ishwantsingh/NutriCheck">Check out this project</a></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">public</i>ATTAC</div>
                  <div class="collapsible-body"><span>This project is an improvised design which uses RECYCLED WATER FILTERS to purify air. 
                    The Air Purifier provides users with an economical and reliable substitute for otherwise high cost air purifiers currently available in the market. 
                    ATTAC not only removes PM2.5 and PM10 particulate matter but also cleanses CO2 from the surroundings.
                    </span>
                    <br><br>
                    <a href="https://github.com/ishwantsingh/NutriCheck">Check out this project</a></div>
                  </div>
                </li>
              </ul>
        </div>
    </div>
</div>

{% endblock%}

{% block script%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>
{% endblock %}